<!--Model -->
<div class="modal fade" id="message-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Blog</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="modal-message"></p>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-flat btn-outline-success ml-auto" data-dismiss="modal">Ok</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!--Delete Model -->
<div class="modal fade" id="delete-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Blog</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="modal-message">Are you sure to delete?</p>
                <form id="delete-form" asp-action="DeleteBlog" asp-controller="Blog">
                    <input type="hidden" name="Id" id="delete-id"/>
                </form>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-flat btn-secondary ml-auto mr-2" data-dismiss="modal">Cancel</button>
                <button id="btn-delete-form" type="button" class="btn btn-flat btn-outline-danger" data-dismiss="modal">Delete</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->